.headerAnch {
  color: white;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.2rem;
  padding: 2rem;
  margin: 0 2rem;
  border-bottom: 2px solid transparent;
  font-weight: 400;
}

.headerAnch:hover {
  border-bottom: 2px solid white;
}

.forActive {
  border-bottom: 1px solid white;
}

.hideButton{
  display: none;
}

label {
  margin-bottom: 2rem;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.radioBut{
  height:16px;
}

.fieldMargin{
  margin-bottom: 3rem;
}



