.headerAnch {
  color: white;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.2rem;
  padding: 2rem;
  margin: 0 2rem;
  border-bottom: 2px solid transparent;
  font-weight: 400;
}

.headerAnch:hover {
  border-bottom: 2px solid white;
}

.forActive {
  border-bottom: 1px solid white;
}

.radioButWrapper{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 9px;
  background-color: #FF8E8E;
}

label {
  padding: 3px;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  line-height: 0;
}

.radioBut{
  height:16px;
}

